
{% load static %}
{% if visual.viz_type.name == 'HTML'%}
		{{visual.body | safe}}
{% elif visual.viz_type.name == 'Altair' %}
		<head>
				{% if DJANGO_SETTINGS.ENV != 'PROD' %}
						<title> {{ DJANGO_SETTINGS.ENV }} - NovskyProject - {{ visual.name }}</title>
				{% else %}
						<title>NovskyProject - {{ visual.name }}</title>
				{% endif %}
				<link rel="shortcut icon" type="image/png" href="{% static 'favicon.jpeg' %}"/>
				<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
				<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.5.0"></script>
				<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>
				<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
		</head>
		<body style="background:{{visual.background_color}};">
		<div class="container">
				<div id="vis"></div>
		{% if visual.summary %}
				<div id="summary" style="border:{{ visual.font_color }}; border-style:solid; border-width:7; background: {{visual.background_color}};"> 
						<p style="padding:10px; ">
						{{ visual.formatted_markdown|safe }}
						</p>
				</div>
		{% endif %}
		</div>
		<script type="text/javascript">
				var yourVlSpec = JSON.parse("{{visual.body|escapejs}}");
				vegaEmbed('#vis', yourVlSpec);
		</script>
{% elif visual.viz_type.name == 'Plotly' %}
		<head>
			<script src="https://cdn.plot.ly/plotly-2.14.0.min.js"></script>
		</head>
		<body>
		<body style="background:{{visual.background_color}};">
				<div class="container">
						<div id="vis"></div>
				</div>
				<script>
						var jsonData = JSON.parse("{{visual.body|escapejs}}");
						Plotly.newPlot("vis", jsonData)
				</script>
{% else %}
		<h1> ERROR DO NOT RECOGNIZE {{ visual.viz_type.name }}</h1>
{% endif %}
	{% if visual.viz_description %}
		<div style="color:grey; padding:5px; font-size:25px;"> 
			<i> Chart Description: {{ visual.viz_description }} </i>
		</div>
	{% endif %}
	{% if visual.viz_resources %}
		<div style="color:grey; padding:5px; font-size:25px;"> 
				<i> Chart Source: <a href="{{ visual.viz_resources.url }}">{{ visual.viz_resources.name}} </a> </i>
		</div>
	{% endif %}
</body>
