{% extends "visuals/base.html" %}
{% load static %}
{% block script %}
		{% if visual.viz_type.name == 'Altair' %}
				<script src="https://cdn.jsdelivr.net/npm/vega@5.22.1"></script>
				<script src="https://cdn.jsdelivr.net/npm/vega-lite@5.5.0"></script>
				<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.21.0"></script>
		{% elif visual.viz_type.name == 'Plotly' %}
				<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		{% else %}

		{% endif %}
{% endblock script %}
{% block content %}
		<body style="background:{{visual.background_color}};">
				{% if visual.viz_type.name == 'Altair' %}
						<div class="altair_container" style="display:flex; justify-content:center; align-items:center; height:95%; flex-flow: column;">
								<div id="vis_altair"></div>
								<script type="text/javascript">
										var yourVlSpec = JSON.parse("{{visual.body|escapejs}}");
										vegaEmbed('#vis_altair', yourVlSpec);
								</script>
								{% if visual.summary %}
										<div id="summary" style="background: white; border-color:{{ visual.font_color }};"> 
												{{ visual.formatted_markdown|safe }}
										</div>
								{% endif %}
						</div>
				{% elif visual.viz_type.name == 'Plotly' %}
						<div class="plotly_container">
								{{visual.body|safe}}
								{% if visual.summary %}
										<div id="summary" style="background: white; border-color:{{ visual.font_color }};"> 
												{{ visual.formatted_markdown|safe }}
										</div>
								{% endif %}
						</div>
				{% elif visual.viz_type.name == 'HTML' %}
						{{visual.body | safe}}
				{% else %}
						<h1> ERROR DO NOT RECOGNIZE {{ visual.viz_type.name }}</h1>
				{% endif %}
		{% if visual.viz_description %}
				<div style="color:grey; padding:5px; font-size:25px;"> 
						<i> Chart Description: {{ visual.viz_description }} </i>
				</div>
		{% endif %}
		{% if visual.viz_resources %}
				<div style="color:grey; padding:5px; font-size:25px;"> 
						<i> Chart Source: <a href="{{ visual.viz_resources.url }}">{{ visual.viz_resources.name}} </a> </i>
				</div>
		{% endif %}
		{% comment %}{{ visual.js_post_load|safe }}{% endcomment %}
		</body>
{% endblock content %}
